@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers";

$column: 150px;
$gutter: 40px;
$grid-columns: 6;
$max-width: 1100px;

$desktop--big: new-breakpoint(min-width 1024px $grid-columns);
$desktop--small: new-breakpoint(max-width 1024px $grid-columns);
$tablet: new-breakpoint(max-width 768px $grid-columns);
$mobile: new-breakpoint(max-width 600px $grid-columns);