@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers";
@import "grid_settings";

/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
$size__spacing--big: 80px;
$size__spacing--medium: 40px;
$size__spacing--small: 20px;
$size__spacing--col: 30px;

$size__button--height: 60px;
$size__button--width: 280px;

$size__website--height: 520px;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$color__primairy: #181A1B;
$color__black: #181A1B;
$color__white: #FFFFFF;
$color__white--alt: #F9F9F9;

$color__box-shadow: 0 0 5px rgba($color__black, .15);

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
$font__family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font__size: 16px;
$font__size--title: 80px;
$font__size--h1: 28px;
$font__size--h2: 24px;
$font__size--h3: 20px;
$font__size--small: 14px;

$font__line-height: 2.2;
$font__line-height--h: 1.8;

$font__spacing--p: $font__size + 10px;
$font__spacing--h1: 40px;
$font__spacing--h2: 30px;
$font__spacing--h3: 30px;

$font__weight: 400;
$font__weight--h: 500;
$font__weight--a: 700;
$font__weight--bold: 500;
$font__weight--button: 500;

$font__letter-spacing: 1px;
$font__letter-spacing--h: 3px;
$font__letter-spacing--button: 2px;

$font__border--a: 1px solid $color__primairy;
