@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../variables/grid_settings";
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/neat";

.container {
    @include outer-container;

    .container-small {
        @include span-columns(4);
        @include shift(1);

        @include media($tablet) {
            @include span-columns(6);
            @include shift(0);
            padding-left: $size__spacing--medium;
            padding-right: $size__spacing--medium;
        }

        @include media($mobile) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}


.row {
    display: block;
    clear: both;

    .col-half {
        @include span-columns(3);
        @include omega(2n);
        margin-bottom: $size__spacing--small;
    }

    .col-full {
        @include span-columns(6);
        @include omega(1n);
        margin-bottom: $size__spacing--small;
    }
}

