html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $color__white;
    overflow-x: hidden;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
header {
    position: relative;
    width: 100vw;
    height: 400px;
    background: $color__primairy;
    color: $color__white;

    .header__logo {
        @include span-columns(1);
        position: relative;
        padding-top: $size__spacing--big;
        text-align: center;

        h1 {
            display: inline-block;
            max-height: 100px;
            font-size: 32px;
            line-height: 1;
            font-weight: 900;

            img {
                width: 100%;
                height: auto;

                @include media($mobile) {
                    max-width: 300px;
                }
            }
        }

        @include media($mobile) {
            @include span-columns(6);
            @include omega(1n);
        }
    }

    .header__menu--desktop,
    .header__menu--mobile {
        @include span-columns(5);
        @include omega();
        padding: $size__spacing--big+4 0 0 0;

        ul {
            margin: 0;
            padding: 0;
            text-align: right;

            @include media($mobile) {
                text-align: center;
            }

        }

        li {
            display: inline-block;
            margin: 0 $size__spacing--small;
            font-size: $font__size--h3;

            a {
                font-weight: 500;

                &:hover {
                    color: inherit;
                    border-bottom: 5px solid $color__white;
                    padding-bottom: 10px;
                }
            }

            &.current_page_item {
                a {
                    border-bottom: 5px solid $color__white;
                    padding-bottom: 10px;
                }
            }

            @include media($mobile) {
                display: block;
            }
        }

        @include media($mobile) {
            @include span-columns(6);
            @include omega(1n);
            padding-top: $size__spacing--small;
        }
    }

    .header__menu--desktop {
        @include media($mobile) {
            display: none;
        }
    }

    .header__menu--mobile {
        display: none;

        @include media($mobile) {
            display: block;;
        }

        .menu__mobiletoggle {
            text-align: center;
            font-size: $font__size--h3;
            font-weight: $font__weight--bold;
            span {
                border-bottom: 5px solid $color__white;
                padding-bottom: 10px;
            }
        }

        .menu {
            display: none;
        }
    }

    .header__title {
        clear: both;
        text-align: center;
        font-size: $font__size--title;
        line-height: 1;
        font-weight: 900;
        padding: $size__spacing--big 0;

        @include media($mobile) {
            font-size: 10vw;
        }
    }

    @include media($mobile) {
        height: auto;
    }
}

.home header {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height:100vh;
    background: $color__primairy;
    color: $color__white;

    .header__menu--desktop,
    .header__menu--mobile {
        @include span-columns(6);
        @include omega();
        padding: $size__spacing--big 0 0 0;

        ul {
            margin: 0;
            text-align: center;
        }

        li {
            display: inline-block;
            margin: 0 $size__spacing--small;
            font-size: $font__size--h3;

            a {
                font-weight: 500;

                &:hover {
                    color: inherit;
                    border-bottom: 5px solid $color__white;
                    padding-bottom: 10px;
                }
            }

            @include media($mobile) {
                display: block;
            }
        }

        @include media($mobile) {
            @include span-columns(6);
            @include omega(1n);
            padding-top: $size__spacing--small;
        }
    }

    .header__menu--desktop {
        @include media($mobile) {
            display: none;
        }
    }

    .header__menu--mobile {
        display: none;

        @include media($mobile) {
            display: block;;
        }

        .menu__mobiletoggle {
            text-align: center;
            font-size: $font__size--h3;
            font-weight: $font__weight--bold;
            span {
                border-bottom: 5px solid $color__white;
                padding-bottom: 10px;
            }
        }

        .menu {
            display: none;
        }
    }

    .header__logo {
        @include span-columns(6);
        @include omega();
        position: relative;
        top: 25vh;
        text-align: center;

        h1 {
            display: inline-block;
            max-width: 800px;
            max-height: 171px;
            margin-top: ((171px - ($size__spacing--big / 2 + 20px) / 2) * -1);
            font-size: 42px;
            font-weight: 900;

            img {
                width: 100%;
                height: auto;

                @include media($tablet) {
                    max-width: 70%;
                }
            }
        }

        @include media($mobile) {
            top: 15vh;

            h1 {
                margin-top: 0px;
            }
        }
    }

    .header__action {
        position: absolute;
        left: 50%;
        bottom: $size__spacing--big;
        margin-left: -$size__button--width/2;

        a.button {
            background: $color__white;
            color: $color__primairy;

            @include media($mobile) {
                width: $size__button--width;
            }
        }
    }
}

.single-post {
    .header__title {
        clear: both;
        text-align: center;
        font-size: 3vw;
        line-height: 1;
        font-weight: 900;
        padding: $size__spacing--big 0;
    }
}

/*--------------------------------------------------------------
## Sections
--------------------------------------------------------------*/
section {
    padding: $size__spacing--big 0;
    background: $color__white;

    &:nth-child(2n + 1) {
        background: $color__white--alt;
    }

    &.about {
        h1 {
            @extend .heading-line;
        }
    }

    &.portfolio {
        padding-top: 0;
        padding-bottom: 0;

        .portfolio__item {
            position: relative;
            background: $color__white;
            padding: $size__spacing--big 0 0 0;
            overflow: hidden;
            transform: translateZ(0);
            backface-visibility: hidden;
            perspective: 1000;
            transform: translate3d(0, 0, 0);

            &:nth-child(2n + 1) {
                background: $color__white--alt;
            }

            .item__website--desktop,
            .item__website--mobile {
                @include span-columns(3);
                overflow: hidden;
                height: 520px;
                background: transparent;
                box-shadow: $color__box-shadow;
                transform: translate3d(0,0,0);

                img {
                    width: 100%;
                }
            }

            .item__website--mobile {
                display: none;
            }

            .item__content {
                @include span-columns(3);
            }

            .item__action {
                position: absolute;
                bottom: $size__spacing--medium;

                a {
                    color: $color__white;

                    &:hover {
                        color: $color__white;
                    }
                }
            }

            h2 a {
                border-bottom: none;
                font-weight: inherit;

                &:hover {
                    color: inherit;
                }
            }

            @include media($desktop--small) {
                padding-left: $size__spacing--medium;
                padding-right: $size__spacing--medium;
            }

            @include media($desktop--small) {
                padding-bottom: $size__spacing--medium;

                .item__website--desktop,
                .item__website--mobile {
                    height: 350px;
                }

                .item__action {
                    position: inherit;
                }
            }

            @include media($tablet) {
                padding: $size__spacing--medium;

                .item__website--desktop,
                .item__website--mobile {
                    height: 320px;
                }
            }

            @include media($mobile) {
                .item__website--mobile {
                    display: block;
                }

                .item__website--desktop,
                .item__website--mobile,
                .item__content {
                    @include span-columns(6);
                }

                .item__website--desktop,
                .item__website--mobile {
                    height: 250px;
                    margin-bottom: $size__spacing--medium - 10px;
                }


            }
        }

        @include media($desktop--small) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.testimonial {
        background: $color__white;

         .testimonial__content {
             position: relative;

             &:after {
                 position: absolute;
                 content: "";
                 display: block;
                 top: -10px;
                 left: -20px;
                 width: 50px;
                 height: 44px;
                 background: url("assets/img/quote-icon.svg") no-repeat;
             }
         }

        .testimonial__author {
            font-weight: $font__weight--bold;
        }

        .testimonial__seperator {
            display: inline-block;
            width: 6px;
            height: 6px;
            margin: 0 $size__spacing--small 2px;
            background: $color__primairy;
            border-radius: 50%;

            @include media($mobile) {
                display: block;
                visibility: hidden;
            }
        }
    }

    &.contact,
    &.contactinfo {
        background: $color__white--alt;

        h1 {
            @extend .heading-line;
        }
    }

    &.resources {
        background: $color__primairy;
        color: $color__white;

        h1 {
            @extend .heading-line;
            border-color: $color__white;
        }

        .resources__items {
            clear: both;
            padding-top: $size__spacing--medium;
            column-count: 3;
            column-gap: 30px;

            .resources__item {
                display: inline-block;
                width: 100%;
                margin-bottom: $size__spacing--small;
                padding-bottom: $size__spacing--small;
                border-bottom: 5px solid $color__white;

                h3 {
                    font-size: $font__size;
                    margin: 0 0 10px 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p {
                    display: block;
                    font-size: $font__size--small;
                    opacity: .6;

                    a {
                        color: $color__white;
                        font-weight: $font__weight;
                        border: none;

                        &:hover {
                            color: $color__white--alt;
                        }
                    }
                }

                a:hover {
                    color: $color__white;
                }
            }

            @include media($tablet) {
                column-count: 2;

                .resources__item:last-child {
                    display: none;
                }
            }

            @include media($mobile) {
                column-count: 1;
            }
        }
    }

    &.blog {
        article {
            margin-bottom: $size__spacing--big;

            .readmore {
                font-weight: $font__weight--bold;
            }
        }

        .pagnation {
            .prev-posts-link,
            .next-posts-link {
                @extend .button;
            }

            .prev-posts-link {
                float: left;
            }
            .next-posts-link {
                float: right;
            }
        }
    }

    &.single {
        .comment-form {
            .comment-form-comment {
                float: left;
                width: 60%;
            }
            .comment-form-author,
            .comment-form-email,
            .comment-form-url, {
                float: right;
                width: 40%;
            }
        }
    }

    &.forum {
        background: $color__white;
    }

    &.contactform {
        .hide {
            display: none;
        }
        #show-contact {
            float: right;
            line-height: 1;
            margin-top: 22px;
        }
    }

    &.contactmaps {
        padding: 0;

        iframe {
            margin: 0;
            pointer-events: none;
        }
    }

    &.login {
        #loginform {
            p {
                @include span-columns(3);
                @include omega(2n);
            }

            .login-remember {
                line-height: 60px;
            }

            .login-submit {
                input {
                    width: 100%;
                }
            }

            input[type="checkbox"], input[type="radio"] {
                display: inline-block;
                width: inherit;
                margin-right: 10px;
            }
        }
    }
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
footer {
    padding: $size__spacing--big 0;
    background: $color__white;
    text-align: center;
    font-size: $font__size--small;

    h3 {
        display: inline-block;
        width: 100px;
        height: 23px;
        background: url("assets/img/logo-black.svg") no-repeat;
        background-size: 100px 23px;
        text-indent: -9999px;
    }

    ul {
        padding: 0;

        li {
            display: inline-block;
            padding: 0 $size__spacing--small/2;
        }
    }

    a {
        font-weight: inherit;
        border-bottom: none;
        cursor: pointer;
    }

    p {
        padding-top: $size__spacing--small;
        font-size: 10px;
    }

    .footer__icons {
        .icon__facebook,
        .icon__twitter,
        .icon__rss {
            display: inline-block;
            width: 20px;
            height: 20px;
            text-indent: -9999px;
            margin: 0 15px;
        }

        .icon__facebook {
            background: url("assets/img/icon-facebook.svg") no-repeat;
            background-size: 20px;
        }
        .icon__twitter {
            background: url("assets/img/icon-twitter.svg") no-repeat;
            background-size: 20px;
        }
        .icon__rss {
            background: url("assets/img/icon-rss.svg") no-repeat;
            background-size: 20px;
        }
    }
}

/*--------------------------------------------------------------
## Images
--------------------------------------------------------------*/
figure {
    margin: 0;
}

/*--------------------------------------------------------------
## Forum
--------------------------------------------------------------*/
#bbpress-forums {
    a {
        border-bottom: none;
    }
    .wp-editor-container {
        border: 1px solid #eee;
    }

    .bbp-topic-form {
        p {
            padding-bottom: 8px;
        }
        .bbp-submit-wrapper {
            float: left;
            margin-bottom: 15px;
        }
        input[type=button] {
            width: inherit;
            background: #000;
            color: #fff;
            border-radius: 0;
            border: none;
            padding: 0px 10px;
            text-decoration: none;
            border: none;
        }
    }
}

/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/
input,
textarea {
    width: 100%;
    padding: 8px 16px;
    font-family: $font__family;
    font-size: $font__size;
    border: 1px solid rgba($color__primairy, .1);
}


/*--------------------------------------------------------------
## Page specific
--------------------------------------------------------------*/
.page-id-162 {
    section.contactinfo {
        background: $color__white;
    }
    section.contact {
        display: none;
    }
}

.page-id-160 {
    h1 {
        @extend .heading-line;
    }
}

/*--------------------------------------------------------------
## Responsive
--------------------------------------------------------------*/
.hide__mobile {
    @include media($mobile) {
        display: none !important;
    }
}

.show__mobile {
    @include media($mobile) {
        display: block !important;
    }
}

@include media($desktop--big) {

}

@include media($desktop--small) {
    header,
    section,
    footer {
        padding-left: $size__spacing--medium;
        padding-right: $size__spacing--medium;
    }
}

@include media($tablet) {
    h1,
    h2,
    h3 {
        font-size: 22px;
        letter-spacing: 2px;
    }

    h1 {
        margin-bottom: 30px;
    }

    h2,
    h3 {
        margin-bottom: $size__spacing--small;
    }

    p {
        font-size: 14px;
    }

    a.button {
        font-size: 14px;
        letter-spacing: 1px;
    }
}

@include media($mobile) {
    h1,
    h2,
    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    a.button {
        font-size: 14px;
        letter-spacing: 1px;
    }

    section,
    footer {
        padding-top: $size__spacing--medium;
        padding-bottom: $size__spacing--medium;
    }

    a.button {
        width: 100%;
    }
}
