a.button,
button[type=submit],
input[type=submit] {
    display: inline-block;
    width: $size__button--width;
    height: $size__button--height;
    padding: 0;
    background: $color__primairy;
    text-align: center;
    color: $color__white;
    line-height: $size__button--height;
    font-weight: $font__weight--button;
    letter-spacing: $font__letter-spacing--button;
    text-decoration: none;
    border: none;

    &:hover {
        background: darken($color__primairy, 5);
    }
}
