body,
button,
input,
select,
textarea {
	font-family: $font__family;
	font-size: $font__size;
	color: $color__black;
	line-height: $font__line-height;
	letter-spacing: $font__letter-spacing;
	font-weight: $font__weight;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: 0;
	font-weight: $font__weight--h;
	line-height: $font__line-height--h;
	letter-spacing: $font__letter-spacing--h;
}

h1 {
	font-size: $font__size--h1;
	margin: 0 0 $font__spacing--h1 0;
}

h2 {
	font-size: $font__size--h2;
	margin: 0 0 $font__spacing--h2 0;
}

h3 {
	font-size: $font__size--h3;
	margin: 0 0 $font__spacing--h3;
}

.heading-line {
	border-left: 5px solid $color__primairy;
	margin-left: -25px;
	padding-left: 20px;
}

p {
	margin: 0;
	padding: 0 0 $font__spacing--p 0;

	&:last-child {
		padding-bottom: 0;
	}
}

a, a:visited {
	padding: 0 0 5px 0;
	color: inherit;
	font-weight: $font__weight--a;
	text-decoration: none;
	border-bottom: 1px solid $color__primairy;

	&:hover,
	&:active {
		color: $color__primairy;
	}
}