html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: bold
}
dfn {
    font-style: italic
}
h1 {
    font-size: 2em;
    margin: 0.67em 0
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: bold
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td,
th {
    padding: 0
}
body,
button,
input,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #181A1B;
    line-height: 2.2;
    letter-spacing: 1px;
    font-weight: 400
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    margin: 0;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 3px
}
h1 {
    font-size: 28px;
    margin: 0 0 40px 0
}
h2 {
    font-size: 24px;
    margin: 0 0 30px 0
}
h3 {
    font-size: 20px;
    margin: 0 0 30px
}
.heading-line,
section.about h1,
section.contact h1,
section.contactinfo h1,
section.resources h1,
.page-id-160 h1 {
    border-left: 5px solid #181A1B;
    margin-left: -25px;
    padding-left: 20px
}
p {
    margin: 0;
    padding: 0 0 26px 0
}
p:last-child {
    padding-bottom: 0
}
a,
a:visited {
    padding: 0 0 5px 0;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid #181A1B
}
a:hover,
a:active,
a:visited:hover,
a:visited:active {
    color: #181A1B
}
a.button,
section.blog .pagnation a.prev-posts-link,
section.blog .pagnation a.next-posts-link,
button[type=submit],
input[type=submit] {
    display: inline-block;
    width: 280px;
    height: 60px;
    padding: 0;
    background: #181A1B;
    text-align: center;
    color: #fff;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    border: none
}
a.button:hover,
section.blog .pagnation a.prev-posts-link:hover,
section.blog .pagnation a.next-posts-link:hover,
button[type=submit]:hover,
input[type=submit]:hover {
    background: #0c0d0e
}
html {
    box-sizing: border-box
}
*,
*::after,
*::before {
    box-sizing: inherit
}
.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto
}
.container::after {
    clear: both;
    content: "";
    display: table
}
.container .container-small {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 65.4545454545%;
    margin-left: 17.2727272727%
}
.container .container-small:last-child {
    margin-right: 0
}
@media screen and (max-width: 768px) {
    .container .container-small {
        float: left;
        display: block;
        margin-right: 3.6363636364%;
        width: 100%;
        margin-left: 0%;
        padding-left: 40px;
        padding-right: 40px
    }
    .container .container-small:last-child {
        margin-right: 0
    }
}
@media screen and (max-width: 600px) {
    .container .container-small {
        padding-left: 0;
        padding-right: 0
    }
}
.row {
    display: block;
    clear: both
}
.row .col-half {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 48.1818181818%;
    margin-bottom: 20px
}
.row .col-half:last-child {
    margin-right: 0
}
.row .col-half:nth-child(2n) {
    margin-right: 0
}
.row .col-half:nth-child(2n+1) {
    clear: left
}
.row .col-full {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 100%;
    margin-bottom: 20px
}
.row .col-full:last-child {
    margin-right: 0
}
.row .col-full:nth-child(1n) {
    margin-right: 0
}
.row .col-full:nth-child(1n+1) {
    clear: left
}
html {
    box-sizing: border-box
}
*,
*:before,
*:after {
    box-sizing: inherit
}
body {
    background: #fff;
    overflow-x: hidden
}
header {
    position: relative;
    width: 100vw;
    height: 400px;
    background: #181A1B;
    color: #fff
}
header .header__logo {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 13.6363636364%;
    position: relative;
    padding-top: 80px;
    text-align: center
}
header .header__logo:last-child {
    margin-right: 0
}
header .header__logo h1 {
    display: inline-block;
    max-height: 100px;
    font-size: 32px;
    line-height: 1;
    font-weight: 900
}
header .header__logo h1 img {
    width: 100%;
    height: auto
}
@media screen and (max-width: 600px) {
    header .header__logo h1 img {
        max-width: 300px
    }
}
@media screen and (max-width: 600px) {
    header .header__logo {
        float: left;
        display: block;
        margin-right: 3.6363636364%;
        width: 100%
    }
    header .header__logo:last-child {
        margin-right: 0
    }
    header .header__logo:nth-child(1n) {
        margin-right: 0
    }
    header .header__logo:nth-child(1n+1) {
        clear: left
    }
}
header .header__menu--desktop,
header .header__menu--mobile {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 82.7272727273%;
    margin-right: 0;
    padding: 84px 0 0 0
}
header .header__menu--desktop:last-child,
header .header__menu--mobile:last-child {
    margin-right: 0
}
header .header__menu--desktop ul,
header .header__menu--mobile ul {
    margin: 0;
    padding: 0;
    text-align: right
}
@media screen and (max-width: 600px) {
    header .header__menu--desktop ul,
    header .header__menu--mobile ul {
        text-align: center
    }
}
header .header__menu--desktop li,
header .header__menu--mobile li {
    display: inline-block;
    margin: 0 20px;
    font-size: 20px
}
header .header__menu--desktop li a,
header .header__menu--mobile li a {
    font-weight: 500
}
header .header__menu--desktop li a:hover,
header .header__menu--mobile li a:hover {
    color: inherit;
    border-bottom: 5px solid #fff;
    padding-bottom: 10px
}
header .header__menu--desktop li.current_page_item a,
header .header__menu--mobile li.current_page_item a {
    border-bottom: 5px solid #fff;
    padding-bottom: 10px
}
@media screen and (max-width: 600px) {
    header .header__menu--desktop li,
    header .header__menu--mobile li {
        display: block
    }
}
@media screen and (max-width: 600px) {
    header .header__menu--desktop,
    header .header__menu--mobile {
        float: left;
        display: block;
        margin-right: 3.6363636364%;
        width: 100%;
        padding-top: 20px
    }
    header .header__menu--desktop:last-child,
    header .header__menu--mobile:last-child {
        margin-right: 0
    }
    header .header__menu--desktop:nth-child(1n),
    header .header__menu--mobile:nth-child(1n) {
        margin-right: 0
    }
    header .header__menu--desktop:nth-child(1n+1),
    header .header__menu--mobile:nth-child(1n+1) {
        clear: left
    }
}
@media screen and (max-width: 600px) {
    header .header__menu--desktop {
        display: none
    }
}
header .header__menu--mobile {
    display: none
}
@media screen and (max-width: 600px) {
    header .header__menu--mobile {
        display: block
    }
}
header .header__menu--mobile .menu__mobiletoggle {
    text-align: center;
    font-size: 20px;
    font-weight: 500
}
header .header__menu--mobile .menu__mobiletoggle span {
    border-bottom: 5px solid #fff;
    padding-bottom: 10px
}
header .header__menu--mobile .menu {
    display: none
}
header .header__title {
    clear: both;
    text-align: center;
    font-size: 80px;
    line-height: 1;
    font-weight: 900;
    padding: 80px 0
}
@media screen and (max-width: 600px) {
    header .header__title {
        font-size: 10vw
    }
}
@media screen and (max-width: 600px) {
    header {
        height: auto
    }
}
.home header {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background: #181A1B;
    color: #fff
}
.home header .header__menu--desktop,
.home header .header__menu--mobile {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 100%;
    margin-right: 0;
    padding: 80px 0 0 0
}
.home header .header__menu--desktop:last-child,
.home header .header__menu--mobile:last-child {
    margin-right: 0
}
.home header .header__menu--desktop ul,
.home header .header__menu--mobile ul {
    margin: 0;
    text-align: center
}
.home header .header__menu--desktop li,
.home header .header__menu--mobile li {
    display: inline-block;
    margin: 0 20px;
    font-size: 20px
}
.home header .header__menu--desktop li a,
.home header .header__menu--mobile li a {
    font-weight: 500
}
.home header .header__menu--desktop li a:hover,
.home header .header__menu--mobile li a:hover {
    color: inherit;
    border-bottom: 5px solid #fff;
    padding-bottom: 10px
}
@media screen and (max-width: 600px) {
    .home header .header__menu--desktop li,
    .home header .header__menu--mobile li {
        display: block
    }
}
@media screen and (max-width: 600px) {
    .home header .header__menu--desktop,
    .home header .header__menu--mobile {
        float: left;
        display: block;
        margin-right: 3.6363636364%;
        width: 100%;
        padding-top: 20px
    }
    .home header .header__menu--desktop:last-child,
    .home header .header__menu--mobile:last-child {
        margin-right: 0
    }
    .home header .header__menu--desktop:nth-child(1n),
    .home header .header__menu--mobile:nth-child(1n) {
        margin-right: 0
    }
    .home header .header__menu--desktop:nth-child(1n+1),
    .home header .header__menu--mobile:nth-child(1n+1) {
        clear: left
    }
}
@media screen and (max-width: 600px) {
    .home header .header__menu--desktop {
        display: none
    }
}
.home header .header__menu--mobile {
    display: none
}
@media screen and (max-width: 600px) {
    .home header .header__menu--mobile {
        display: block
    }
}
.home header .header__menu--mobile .menu__mobiletoggle {
    text-align: center;
    font-size: 20px;
    font-weight: 500
}
.home header .header__menu--mobile .menu__mobiletoggle span {
    border-bottom: 5px solid #fff;
    padding-bottom: 10px
}
.home header .header__menu--mobile .menu {
    display: none
}
.home header .header__logo {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 100%;
    margin-right: 0;
    position: relative;
    top: 25vh;
    text-align: center
}
.home header .header__logo:last-child {
    margin-right: 0
}
.home header .header__logo h1 {
    display: inline-block;
    max-width: 800px;
    max-height: 171px;
    margin-top: -141px;
    font-size: 42px;
    font-weight: 900
}
.home header .header__logo h1 img {
    width: 100%;
    height: auto
}
@media screen and (max-width: 768px) {
    .home header .header__logo h1 img {
        max-width: 70%
    }
}
@media screen and (max-width: 600px) {
    .home header .header__logo {
        top: 15vh
    }
    .home header .header__logo h1 {
        margin-top: 0px
    }
}
.home header .header__action {
    position: absolute;
    left: 50%;
    bottom: 80px;
    margin-left: -140px
}
.home header .header__action a.button,
.home header .header__action section.blog .pagnation a.prev-posts-link,
section.blog .pagnation .home header .header__action a.prev-posts-link,
.home header .header__action section.blog .pagnation a.next-posts-link,
section.blog .pagnation .home header .header__action a.next-posts-link {
    background: #fff;
    color: #181A1B
}
@media screen and (max-width: 600px) {
    .home header .header__action a.button,
    .home header .header__action section.blog .pagnation a.prev-posts-link,
    section.blog .pagnation .home header .header__action a.prev-posts-link,
    .home header .header__action section.blog .pagnation a.next-posts-link,
    section.blog .pagnation .home header .header__action a.next-posts-link {
        width: 280px
    }
}
.single-post .header__title {
    clear: both;
    text-align: center;
    font-size: 3vw;
    line-height: 1;
    font-weight: 900;
    padding: 80px 0
}
section {
    padding: 80px 0;
    background: #fff
}
section:nth-child(2n+1) {
    background: #F9F9F9
}
section.portfolio {
    padding-top: 0;
    padding-bottom: 0
}
section.portfolio .portfolio__item {
    position: relative;
    background: #fff;
    padding: 80px 0 0 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
section.portfolio .portfolio__item:nth-child(2n+1) {
    background: #F9F9F9
}
section.portfolio .portfolio__item .item__website--desktop,
section.portfolio .portfolio__item .item__website--mobile {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 48.1818181818%;
    overflow: hidden;
    height: 520px;
    background: transparent;
    box-shadow: 0 0 5px rgba(24, 26, 27, 0.15);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
section.portfolio .portfolio__item .item__website--desktop:last-child,
section.portfolio .portfolio__item .item__website--mobile:last-child {
    margin-right: 0
}
section.portfolio .portfolio__item .item__website--desktop img,
section.portfolio .portfolio__item .item__website--mobile img {
    width: 100%
}
section.portfolio .portfolio__item .item__website--mobile {
    display: none
}
section.portfolio .portfolio__item .item__content {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 48.1818181818%
}
section.portfolio .portfolio__item .item__content:last-child {
    margin-right: 0
}
section.portfolio .portfolio__item .item__action {
    position: absolute;
    bottom: 40px
}
section.portfolio .portfolio__item .item__action a {
    color: #fff
}
section.portfolio .portfolio__item .item__action a:hover {
    color: #fff
}
section.portfolio .portfolio__item h2 a {
    border-bottom: none;
    font-weight: inherit
}
section.portfolio .portfolio__item h2 a:hover {
    color: inherit
}
@media screen and (max-width: 1024px) {
    section.portfolio .portfolio__item {
        padding-left: 40px;
        padding-right: 40px
    }
}
@media screen and (max-width: 1024px) {
    section.portfolio .portfolio__item {
        padding-bottom: 40px
    }
    section.portfolio .portfolio__item .item__website--desktop,
    section.portfolio .portfolio__item .item__website--mobile {
        height: 350px
    }
    section.portfolio .portfolio__item .item__action {
        position: inherit
    }
}
@media screen and (max-width: 768px) {
    section.portfolio .portfolio__item {
        padding: 40px
    }
    section.portfolio .portfolio__item .item__website--desktop,
    section.portfolio .portfolio__item .item__website--mobile {
        height: 320px
    }
}
@media screen and (max-width: 600px) {
    section.portfolio .portfolio__item .item__website--mobile {
        display: block
    }
    section.portfolio .portfolio__item .item__website--desktop,
    section.portfolio .portfolio__item .item__website--mobile,
    section.portfolio .portfolio__item .item__content {
        float: left;
        display: block;
        margin-right: 3.6363636364%;
        width: 100%
    }
    section.portfolio .portfolio__item .item__website--desktop:last-child,
    section.portfolio .portfolio__item .item__website--mobile:last-child,
    section.portfolio .portfolio__item .item__content:last-child {
        margin-right: 0
    }
    section.portfolio .portfolio__item .item__website--desktop,
    section.portfolio .portfolio__item .item__website--mobile {
        height: 250px;
        margin-bottom: 30px
    }
}
@media screen and (max-width: 1024px) {
    section.portfolio {
        padding-left: 0;
        padding-right: 0
    }
}
section.testimonial {
    background: #fff
}
section.testimonial .testimonial__content {
    position: relative
}
section.testimonial .testimonial__content:after {
    position: absolute;
    content: "";
    display: block;
    top: -10px;
    left: -20px;
    width: 50px;
    height: 44px;
    background: url("assets/img/quote-icon.svg") no-repeat
}
section.testimonial .testimonial__author {
    font-weight: 500
}
section.testimonial .testimonial__seperator {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 20px 2px;
    background: #181A1B;
    border-radius: 50%
}
@media screen and (max-width: 600px) {
    section.testimonial .testimonial__seperator {
        display: block;
        visibility: hidden
    }
}
section.contact,
section.contactinfo {
    background: #F9F9F9
}
section.resources {
    background: #181A1B;
    color: #fff
}
section.resources h1 {
    border-color: #fff
}
section.resources .resources__items {
    clear: both;
    padding-top: 40px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px
}
section.resources .resources__items .resources__item {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid #fff
}
section.resources .resources__items .resources__item h3 {
    font-size: 16px;
    margin: 0 0 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}
section.resources .resources__items .resources__item p {
    display: block;
    font-size: 14px;
    opacity: .6
}
section.resources .resources__items .resources__item p a {
    color: #fff;
    font-weight: 400;
    border: none
}
section.resources .resources__items .resources__item p a:hover {
    color: #F9F9F9
}
section.resources .resources__items .resources__item a:hover {
    color: #fff
}
@media screen and (max-width: 768px) {
    section.resources .resources__items {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2
    }
    section.resources .resources__items .resources__item:last-child {
        display: none
    }
}
@media screen and (max-width: 600px) {
    section.resources .resources__items {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1
    }
}
section.blog article {
    margin-bottom: 80px
}
section.blog article .readmore {
    font-weight: 500
}
section.blog .pagnation .prev-posts-link {
    float: left
}
section.blog .pagnation .next-posts-link {
    float: right
}
section.single .comment-form .comment-form-comment {
    float: left;
    width: 60%
}
section.single .comment-form .comment-form-author,
section.single .comment-form .comment-form-email,
section.single .comment-form .comment-form-url {
    float: right;
    width: 40%
}
section.forum {
    background: #fff
}
section.contactform .hide {
    display: none
}
section.contactform #show-contact {
    float: right;
    line-height: 1;
    margin-top: 22px
}
section.contactmaps {
    padding: 0
}
section.contactmaps iframe {
    margin: 0;
    pointer-events: none
}
section.login #loginform p {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 48.1818181818%
}
section.login #loginform p:last-child {
    margin-right: 0
}
section.login #loginform p:nth-child(2n) {
    margin-right: 0
}
section.login #loginform p:nth-child(2n+1) {
    clear: left
}
section.login #loginform .login-remember {
    line-height: 60px
}
section.login #loginform .login-submit input {
    width: 100%
}
section.login #loginform input[type="checkbox"],
section.login #loginform input[type="radio"] {
    display: inline-block;
    width: inherit;
    margin-right: 10px
}
footer {
    padding: 80px 0;
    background: #fff;
    text-align: center;
    font-size: 14px
}
footer h3 {
    display: inline-block;
    width: 100px;
    height: 23px;
    background: url("assets/img/logo-black.svg") no-repeat;
    background-size: 100px 23px;
    text-indent: -9999px
}
footer ul {
    padding: 0
}
footer ul li {
    display: inline-block;
    padding: 0 10px
}
footer a {
    font-weight: inherit;
    border-bottom: none;
    cursor: pointer
}
footer p {
    padding-top: 20px;
    font-size: 10px
}
footer .footer__icons .icon__facebook,
footer .footer__icons .icon__twitter,
footer .footer__icons .icon__rss {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    margin: 0 15px
}
footer .footer__icons .icon__facebook {
    background: url("assets/img/icon-facebook.svg") no-repeat;
    background-size: 20px
}
footer .footer__icons .icon__twitter {
    background: url("assets/img/icon-twitter.svg") no-repeat;
    background-size: 20px
}
footer .footer__icons .icon__rss {
    background: url("assets/img/icon-rss.svg") no-repeat;
    background-size: 20px
}
figure {
    margin: 0
}
#bbpress-forums a {
    border-bottom: none
}
#bbpress-forums .wp-editor-container {
    border: 1px solid #eee
}
#bbpress-forums .bbp-topic-form p {
    padding-bottom: 8px
}
#bbpress-forums .bbp-topic-form .bbp-submit-wrapper {
    float: left;
    margin-bottom: 15px
}
#bbpress-forums .bbp-topic-form input[type=button] {
    width: inherit;
    background: #000;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 0px 10px;
    text-decoration: none;
    border: none
}
input,
textarea {
    width: 100%;
    padding: 8px 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    border: 1px solid rgba(24, 26, 27, 0.1)
}
.page-id-162 section.contactinfo {
    background: #fff
}
.page-id-162 section.contact {
    display: none
}
@media screen and (max-width: 600px) {
    .hide__mobile {
        display: none !important
    }
}
@media screen and (max-width: 600px) {
    .show__mobile {
        display: block !important
    }
}
@media screen and (max-width: 1024px) {
    header,
    section,
    footer {
        padding-left: 40px;
        padding-right: 40px
    }
}
@media screen and (max-width: 768px) {
    h1,
    h2,
    h3 {
        font-size: 22px;
        letter-spacing: 2px
    }
    h1 {
        margin-bottom: 30px
    }
    h2,
    h3 {
        margin-bottom: 20px
    }
    p {
        font-size: 14px
    }
    a.button,
    section.blog .pagnation a.prev-posts-link,
    section.blog .pagnation a.next-posts-link {
        font-size: 14px;
        letter-spacing: 1px
    }
}
@media screen and (max-width: 600px) {
    h1,
    h2,
    h3 {
        font-size: 18px
    }
    p {
        font-size: 14px
    }
    a.button,
    section.blog .pagnation a.prev-posts-link,
    section.blog .pagnation a.next-posts-link {
        font-size: 14px;
        letter-spacing: 1px
    }
    section,
    footer {
        padding-top: 40px;
        padding-bottom: 40px
    }
    a.button,
    section.blog .pagnation a.prev-posts-link,
    section.blog .pagnation a.next-posts-link {
        width: 100%
    }
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}
#content[tabindex="-1"]:focus {
    outline: 0
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0
}
.wp-caption-text {
    text-align: center
}
.clear:before::after,
.clear:after::after,
.entry-content:before::after,
.entry-content:after::after,
.comment-content:before::after,
.comment-content:after::after,
.site-header:before::after,
.site-header:after::after,
.site-content:before::after,
.site-content:after::after,
.site-footer:before::after,
.site-footer:after::after {
    clear: both;
    content: "";
    display: table
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both
}
.gallery {
    margin-bottom: 1.5em
}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%
}
.gallery-columns-2 .gallery-item {
    max-width: 50%
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%
}
.gallery-columns-4 .gallery-item {
    max-width: 25%
}
.gallery-columns-5 .gallery-item {
    max-width: 20%
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%
}
.gallery-caption {
    display: block
}
